@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/* General common styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    scroll-behavior: smooth !important;
}

ul, nav {
    list-style: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Header Section Styles */

header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background-color: #CB3234;
    padding: 10px 60px;
}

ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li:hover {
    opacity: 0.8;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.menu {
    display: none;
    width: 50px;
    height: 40px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    header {
        flex-wrap: wrap;
        padding: 0;
    }

    header a img {
        height: 50px;
    }

    header nav ul {
        flex-direction: column;
        background-color: #C4C4C4;
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
    }

    header nav ul li {
        text-align: center;
        margin: 5px 0;
    }

    header nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16px;
    }

    .active {
        display: none;
    }

    .menu {
        display: inline-block;
    }
}
/* Buttons common styles */

.btn {
    background-color: #CB3234;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
    border: #CB3234 solid 1px;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.9;
    transition: background ease-in .2s;
    background-color: #FFFFFF;
    color: #CB3234;
}
/* Announcement Section */
.announcement {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFFFF;
    height: auto;
}

.announcement-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 60px;
    margin: 15px auto;
    width: 50%;
    height: auto;
    color: #000000;
    overflow: hidden;
}

.announcement-text h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
    width: auto;
}

.announcement-text p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.announcement-img {
    height: auto;
    width: 50%;
}

.announcement-img img {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 1100px) {
    .announcement-text h2 {
        font-size: 48px;
    }

    .announcement-text p {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .announcement-text {
        padding: 0 30px;
    }

    .announcement-text h2 {
        font-size: 36px;
    }

    .announcement-text p {
        font-size: 14px;
    }
}

@media (max-width: 730px) {
    .announcement-text {
        width: 100%;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.1);
        color: #FFFFFF;
    }

    .announcement-img {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .announcement-text {
        min-width: 320px;
    }

    .announcement-text h2 {
        font-size: 28px;
    }

    .announcement-text p {
        font-size: 14px;
    }
}